@model IEnumerable<MainApp.Models.Crop>


@{
    ViewData["Title"] = "CropDataTable";
}

<h1>Suitable Crops</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CropName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CropType)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CropName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CropType)
                </td>
               
            </tr>
        }
    </tbody>
</table>

